:root {
  --clr1: #1a3662;
  --clr2: #21437a;

  --clr1bg: #3b79dc;
  --clr1bg-light: #4286f4;
  --clr2bg: #4286f4;
  --clr2bg-light: #5592f5;

  --gray1: #ebebec;
  --gray2: #5f6269;
  --gray3: #373b44;

} 